@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
$font-stack: 'Roboto', sans-serif;
$secondary-color: #dedede;

/**
  @ Navbar
 */
.header-navbar{
  height: 45px;
}

.header-navbar-list li a {
  font-family: $font-stack;
  font-size: 0.8rem;
  font-weight: 400 ;
}
.header-navbar-light li a {
  font-family: $font-stack;
  font-size: 1.0rem;
  font-weight: 400 ;
}

.title-name{
  font-family: $font-stack;
   font-size: 1.8rem;
   font-weight: bold ;
}

.navbar-dark .navbar-text a, .navbar-dark .navbar-text a:focus, .navbar-dark .navbar-text a:hover {
  color: #000;
}

/**
  Bootstrap Carousel
 */

@mixin carousel-control(){
  width: 30px;
  height: 60px;
  line-height: 60px;
  position: absolute;
  top: 50%;
  z-index: 999;
  display: inline-block;
  text-align: center;
  border-radius: 50px;
  background: rgba(0, 0, 0, 0.36);
  -webkit-box-shadow: 0px 0px 0px 3px rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.2);
}



.carousel-item > img{
  height: 700px;
}

.carousel-indicators {
  display: none;
}

.carousel-control-prev {
  left: 10px;
  @include carousel-control;
}

.carousel-control-next {
  @include carousel-control;
  right: 10px;
}

/**
  @Carousel button
 */

.btn-lg {
  cursor: pointer;
  padding: 12px 60px 15px 35px;
  letter-spacing: 1px;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
}


.btn-theme:hover {
  background: #e1a006;
  border: solid 1px #e1a006;
}


.btn-theme {
  background: #ffb400;
  border: solid 1px#ffb400;
}

.btn-round {
  border-radius: 30px;
}

.btn-theme {
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
}

.banner-max >.btn-lg {
  margin: 8px;
}

.btn-white-lg-outline {
  color: #FFF;
  background: transparent;
  border: solid 2px #FFF;
  cursor: pointer;
  padding: 11px 35px 10px 35px;
  letter-spacing: 1px;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
}

.btn-white-lg-outline:hover {
  color: #FFF;
  background: #ffb400;
  border: solid 2px#ffb400;
}

.carousel-caption{
   position: absolute;
   top: 40%;
   left: 0;
   right: 0;
}

.carousel-caption > h2{
    font-family: $font-stack;
    color: $secondary-color;
    font-size: 2.0rem;
    font-weight: 400;
}


.carousel-caption > p{
  font-family: $font-stack;
  color: $secondary-color;
  font-size: 1.0rem;
  font-weight: 400;
}


/**
  @ Searchbar
 */

.search-box{
  background-color: #ffb400;
  height: 80px;
}

/**
  @ Homepage Cars
 */

.btn-group > button {
    margin: 15px;
}

.card-group .card{
   margin: 10px;
}

.car-thumbnail:hover > .carbox-overlap-wrapper {
  visibility: visible;
  top: 0;
  cursor: pointer;
  transition: all .15s linear;
}
.carbox-overlap-wrapper{
  visibility: hidden;
  background: rgba(0, 0, 0, 0.6);
  height: 50%;
  width: 100%;
  position: absolute;
  text-align: center;
  z-index: 998;
  color: #FFF;
  left: 0;
  top: 0;
}

.car-box-3 .price-box {
  bottom: 20px;
}

.price-box {
  color: #fff;
  text-align: right;
  font-size: 17px;
  position: absolute;
  bottom: 260px;
  right: 20px;
  z-index: 20;
  font-weight: 600;
  opacity: 0.9;
  font-family: $font-stack;
}

.price-box .del {
  color: red;
  font-size: 15px;
}


.tag-2 {
  float: left;
  position: absolute;
  transform: rotate(-45deg);
  left: -30px;
  top: 50px;
  text-align: center;
  width: 180px;
  font-size: 12px;
  margin: 0;
  color: #fff;
  font-weight: 500;
  line-height: 28px;
  background: #790000;
  text-transform: uppercase;
}

